@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    text-decoration: none !important;
    list-style-type: none;
}

.ff_outfit {
    font-family: "Outfit", sans-serif;
}

.ff_inter {
    font-family: "Inter", sans-serif;
}

.ff_poppins {
    font-family: "Poppins", sans-serif;
}

.box_shadow {
    box-shadow: 0px 1px 37px 0px #00000026;
}

.box_shadow_1 {
    box-shadow: 0px 9px 24px 5px #0000000D;
}

.scroller::-webkit-scrollbar {
    display: none;
}

.header_bg {
    background: url(/assets/images/webp/home.webp);
}

@media (max-width:576px) {
    .header_bg {
        background: url(/assets/images/webp/mobile_screen.webp);
    }
}

.tab button.active {
    color: #14A800;
}

:focus-visible {
    outline: none !important;
}

.more-content {
    display: none;
}

.arrow_fill {
    fill: none;
    cursor: pointer;
}

.arrow_fill:hover {
    fill: #14A800;
}

.arrow_fill:hover rect {
    fill: #14A800;
}

.arrow_fill:hover path {
    fill: white;
    transition: all 300ms linear;
}

.mobile_screen_arrow {
    fill: none;
}

.mobile_screen_arrow:hover {
    fill: #14A800;
}

.mobile_screen_arrow:hover rect {
    fill: #14A800;
    stroke: #14A800;
}


.mobile_screen_arrow:hover path {
    fill: white;
    transition: all 300ms linear;
}

.swiper {
    width: 100%;
    height: 100%;
}

.view_btn:hover {
    color: #14A800;
    transition: all 200ms linear;
}

.view_btn:hover svg path {
    fill: #14A800;
    transition: all 200ms linear;
}